
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    ViewBag.Title = "File";
}
<div>
    <form asp-controller="wexnet" asp-action="GetFile" enctype="multipart/form-data"method="post">
        <button type="submit">Scripkt Kors</button>
    </form>
</div>